<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <form fxLayout="column" fxLayoutAlign="center center" class="example-form">
    <mat-form-field>
      <mat-select #clinic required>
        <mat-option></mat-option>
        <mat-option *ngFor="let clinic of clinics; let i = index" [value]="i">{{
          clinic.clinicName
        }}</mat-option>
      </mat-select>
      <mat-label><b> Select</b> <i> Clinic</i></mat-label>
    </mat-form-field>

    <mat-form-field *ngIf="clinic.value || clinic.value == 0">
      <mat-select #doctor required>
        <mat-option
          *ngFor="let doctor of clinics[clinic.value].doctors; let i = index"
          [value]="i"
        >
          {{ doctor.firstName }} {{ doctor.lastName }}
        </mat-option>
      </mat-select>
      <mat-label><b>Select</b> <i>Doctor</i></mat-label>
    </mat-form-field>

    <mat-form-field [fxShow]="clinic.value || clinic.value == 0">
      <input
        #date
        matInput
        [matDatepickerFilter]="dateFilter"
        [matDatepicker]="datePicker"
        placeholder="Select Booking Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
  </form>

  <div>
    <mat-accordion [fxShow]="date.value !== ''">
      <mat-expansion-panel *ngFor="let time of times">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ time.time }} </mat-panel-title>
          <mat-panel-description
            [ngStyle]="{ color: setColor(time.availability) }"
          >
            {{ time.availability }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="time.examDetails">
          <h4>Patient Name: {{ time.examDetails.patientName }}</h4>
          <h4>Service: {{ time.examDetails.service }}</h4>
        </div>

        <div *ngIf="time.availability === 'available'">
          <mat-form-field>
            <input matInput placeholder="Patient Name" required />
          </mat-form-field>

          <mat-form-field *ngIf="clinic.value || clinic.value == 0">
            <mat-select #service required>
              <mat-option
                *ngFor="
                  let service of clinics[clinic.value].services;
                  let i = index
                "
                [value]="service.title"
              >
                {{ service.id + 1 }}. {{ service.title }}
              </mat-option>
            </mat-select>
            <mat-label><b>Select</b> <i>Service</i></mat-label>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="space-between center">
          <button
            mat-raised-button
            color="primary"
            *ngIf="time.availability === 'reserved'"
          >
            Confirm Examination
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="time.availability === 'available'"
          >
            Reserve Examination
          </button>
          <button
            mat-stroked-button
            color="warn"
            *ngIf="time.availability === 'reserved'"
          >
            Cancel Examination
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
